body{
            margin:0;
        }
        .insde {
            text-align: center;
            background: linear-gradient(to bottom, #d3e4f7, #a7c9ec);
            padding:20px;
        }
        .menu {
            background: linear-gradient(to bottom, #e3e3e3, #cfcfcf);
            box-shadow: 2px 2px 5px gray;
            overflow: hidden;
            margin:10px 0px;
        }
            .menu a {
                background:linear-gradient(#e66465, #9198e5);
                text-decoration: none;
                float: left;
                padding: 12px 25px;
                border-right: 1px solid #aaa;
                color:black;
            }
                .menu a:hover {
                    color: white;
                    background: linear-gradient(to bottom, #ccc, #999);
                }
        .left {
            float: left;
            width: 15%;
            box-sizing: border-box;
            background: #e8f0ff;
            padding: 10px;
            overflow:hidden;
        }
        .right {
            float: right;
            width: 15%;
            box-sizing: border-box;
            background: #e8f0ff;
            padding: 10px;
            overflow: hidden;
        }
        .center {
            overflow: hidden;
            text-align: left;
            background: white;
            padding: 20px;
        }
        .image {
            display: inline-block;
            position: relative;
            width: 125px;
            margin: 10px;
            background: linear-gradient(to right, #d1f55b, #c2e9ff);
            overflow: hidden;
            box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
        }

            .image img {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

        .layer {
            position:absolute;
            bottom: 1px;
            left: 1px;
            width: 100%;
            height: 33%;
            color: rgba(255, 255, 255, 0.6);
            background-color: rgba(10, 80, 180, 0.45);
            font-weight: bold;
            text-align: center;
            line-height: 40px;
            transition: bottom 0.3s;
        }

        .image:hover .layer {
            bottom: 0;
        }
